.Title {
    display: flex;
    justify-content: left;
    align-items: left;
    color: black;
    align-items: left;
    white-space: 10px;
    display: flexbox;
    border-bottom: 1px solid black;
    padding-bottom: 0px;
    padding-top: 5px;
    padding-left: 5px;
}

  .Title h3{
    padding: 0px;
    padding-left: 20px;
    color: black;
    align-items: left;
    display: flexbox;

  }